form {
    & #configure {
        grid-template-columns: 86px 86px 86px;
        gap: .75rem;
    }

    & #results {
        & legend {
            margin-inline: auto;
        }

        align-items: center;
        justify-content: center;
    }
}