input {
    appearance: none;
    border: none;
    border-radius: .5rem;
    text-align: center;
    color: var(--content-primary);
    background-color: var(--bg-color-secondary);
    font-size: var(--fs-dp-sm);
    font-family: var(--ff-sora);
    font-weight: var(--fw-ex-bold);
    outline: 1px solid var(--bg-color-secondary);
    line-height: 200%;
    transition: background-color 200ms ease;
    
    &:hover {
        background-color: var(--bg-color-tertiary);
        outline: 1px solid transparent;
    }

    &::after {
        content: "";
        position: absolute;
        height: 85px;
        width: 85px;
        z-index: -1;
        border-radius: inherit;
        background: linear-gradient(
            90deg,
            var(--accent-green) 0%,
            var(--accent-lime) 14.84%,
            var(--accent-red) 32.15%,
            var(--accent-pink) 65.79%,
            var(--accent-blue) 84.58%
        );
    }
}

.input-wrapper {
    text-align: center;
    flex-direction: column;

    & label {
        font-size: var(--fs-lb-md);
        font-weight: var(--fw-bold);
        transition: color 500ms linear;
    }
}

.input-toggle-button-wrapper {
    width: 161px;
    gap: .5rem;
    margin-top: calc(1.75rem - .75rem);
    
    & input {
        all: unset;
        background-color: aliceblue;
        height: 1.25rem;
        width: 1.875rem;
    }
}