input {
    appearance: none;
    border: none;
    border-radius: .5rem;
    outline: none;
    text-align: center;
    color: var(--content-primary);
    font-size: var(--fs-dp-sm);
    font-family: var(--ff-sora);
    font-weight: var(--fw-ex-bold);
    line-height: 200%;
    transition: all 200ms ease;
    background: var(--bg-color-secondary);
    width: 83px;
    height: 48px;
    
    &:hover, &:focus-within {
        opacity: 1;
        background: var(--bg-color-tertiary);
    }

    &:focus-within {
        width: 80px;
        height: 46px;
    }
}

.input-wrapper {
    text-align: center;
    flex-direction: column;

    & label {
        font-size: var(--fs-lb-md);
        font-weight: var(--fw-bold);
        transition: color 300ms linear;
    }

    &:hover label, &:focus-within label {
        color: var(--bg-color-brand);
    }
}

.gradient {
    width: 86px;
    height: 50px;
    align-items: center;
    justify-content: center;
    padding: 2px;
    border-radius: 8px;
    position: relative;
    background: var(--bg-color-secondary);
    transition: all 200ms ease;

    &:hover {
        background: linear-gradient(
                90deg,
                var(--accent-green) 0%,
                var(--accent-lime) 14.84%,
                var(--accent-red) 32.15%,
                var(--accent-pink) 65.79%,
                var(--accent-blue) 84.58%
            );
    }

    &:focus-within {
        opacity: 1;
        background: linear-gradient(
                90deg,
                var(--accent-green) 0%,
                var(--accent-lime) 14.84%,
                var(--accent-red) 32.15%,
                var(--accent-pink) 65.79%,
                var(--accent-blue) 84.58%
            );
    }

    /* &::before {
        content: "";
        position: absolute;
        border-radius: 8px;
        background: linear-gradient(
            90deg,
            var(--accent-green) 0%,
            var(--accent-lime) 14.84%,
            var(--accent-red) 32.15%,
            var(--accent-pink) 65.79%,
            var(--accent-blue) 84.58%
        );
        z-index: -1;
        inset: 0;
    } */
}

.input-toggle-wrapper {
    display: flex;
    gap: 1rem;
    width: 100vh;
    align-items: center;
}

.input-toggle-button-wrapper {
    align-items: center;
    position: relative;
    gap: 1rem;
    padding-block: .75rem;

    & label {
        all: unset;
        padding: 0.125rem;
        width: 2rem;
        height: 1.2rem;
        background-color: transparent;
        border-radius: 3.75rem;
        transition: background 0.4s;
    }

    & label:before,
    & label:after {
        display: block;
        position: absolute;
        content: "";
    }

    & label:before {
        top: -.1rem;
        left: -.1rem;
        bottom: -.12rem;
        right: -.1rem;
        background-color: var(--content-tertiary);
        border-radius: 3.75rem;
        transition: background 0.4s;
    }
    
    & label:after {
        top: 0.125rem;
        left: 0.125rem;
        bottom: 0.125rem;
        right: 0.125rem;
        width: 1.2rem;
        background-color: var(--content-primary);
        border-radius: 3.25rem;
        transition: margin 0.4s, background 0.4s;
    }


    & input:checked + label:after {
        margin-left: 10px;
    }

    & input:checked + label:before {
        background: linear-gradient(
            90deg,
            var(--accent-pink) 0%,
            var(--accent-blue) 98.93%
        );
    }
}

.switch {
    visibility: hidden;
    position: absolute;
    margin-left: auto;
}
  
.switch + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}
